@{
    ViewData["Title"] = "About";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('@Url.Content("~/assets/fe/images/bg-1.jpg")');">
    <h2 class="ltext-105 cl0 txt-center">
        About
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Raythos Aerospace has been a leading force in aircraft manufacturing for over 15 years.
                        We take pride in our rich heritage of innovation, crafting reliable and high-performance aircraft that push the boundaries of what's possible. From pioneering commercial planes to developing cutting-edge defense technology, our passion for flight shapes the future of aviation.
                    </p>

                   
                    <p class="stext-113 cl6 p-b-26">
                        Any questions? Let us know through email
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="~/assets/fe/images/about-1.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        To inspire the skies with visionary aircraft that connect people, propel progress, and preserve our planet.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            “I’m interested in things that change the world or that affect the future and wondrous, new technology where you see it, and you’re like, ‘Wow, how did that even happen? How is that possible?’”
                        </p>

                        <span class="stext-111 cl8">
                            - Elon Musk, entrepreneur and innovator
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="~/assets/fe/images/about-2.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

